.t3webwidgets-twitter span.user-from a {
	font-weight: bold;
	color:blue;
	text-decoration:none;
	padding-bottom:4px;
	font-size:110%;
}
.t3webwidgets-twitter span.user-from-date {

}
.t3webwidgets-twitter span.theMessage {
	white-space:normal;
}